.row-header{
    margin: 0px auto;
    padding: 0px auto;
}

.row-content{
    margin: auto;
    padding: 50px 0px 50px 0px;
    border-bottom: 1px ridge;
    min-height: 400px;
}

.row-footer{
    background-color:#d1e0e0;
    margin: auto;
    padding: 20px 0px 20px 0px;
}

.jumbotron
{
    padding: 70px 30px 70px 30px;
    margin: auto;
    background-color: cornflowerblue;
    color: floralwhite;
    
}

/*
.navbar
{
    background-color: #0066ff;
    color: floralwhite;
}
.navbar-inverse
{
    background-color: #0066ff;
    color: floralwhite;
}

.navbar-inverse .navbar-nav >.active >a
{
    color:white;
    background:#0066ff;
}

.navbar-inverse .navbar-nav .open .dropdown-menu 
{
    background-color: #0066ff
    
    
}
.navbar-inverse .navbar-nav .open .dropdown-menu >li>a
{
    color:white;
}


*/

